<xml>
	<simple_tree_options>
		<image_width>800</image_width>
		<image_height>800</image_height>
		<start_width>8000</start_width>
		<start_height>8000</start_height>	
		<!-- output_file_number>1</output_file_number -->
		<background_image>/home/programmer/Projects/source_tree_vis/resources/backgrounds/stv_bg_simple.jpg</background_image>
		<many_jpgs>0</many_jpgs>
		<jpg_step>100</jpg_step>
		<jpg_stop>10000000</jpg_stop>
		<jpg_start>1</jpg_start>
		<rev_jpgs>0</rev_jpgs>
		<rev_step>1</rev_step>
		<rev_stop>5000000</rev_stop>
		<rev_start>1</rev_start>
		
		<!-- comment>The below Print Mode can be stdout, file, or ignore</comment -->
		<print_mode>file</print_mode>
		<print_mode_filename>treelog.txt</print_mode_filename>
		<!-- comment>The below Debug Mode can be stdout, file, or ignore</comment -->
		<debug_mode>file</debug_mode>
		<debug_mode_filename>treedebuglog.txt</debug_mode_filename>
		
		<debug>default,watermark</debug>
		<file_name>_tree.png</file_name>
		<html_file_name>_tree.html</html_file_name>
		<output_html_file>1</output_html_file>
		<xml_file_name>_tree.xml</xml_file_name>
		<output_xml_file>1</output_xml_file>		
		<repo_type>svn</repo_type> 
		<repo_string>http://bwapi.googlecode.com/svn/trunk/</repo_string>
		<input_filter>filter<filter>.cpp,.c,.java,.asm,.py,.rb,.pl</filter><color>#219F18</color><type>source files</type></input_filter>
		<input_filter>filter<filter>.h,.hpp,.header,.make,.cmake,Makefile</filter><color>#FF0000</color><type>header files</type></input_filter>
		<input_filter>filter<filter>.jpg,.gif,.bmp,.png,.jpeg,.tiff</filter><color>#8B3A62</color><hover_color>orange</hover_color><type>images</type></input_filter>
		<!-- input_filter></input_filter -->
		<!-- input_ignore_filter></input_ignore_filter -->
		<default_leaf_color>#219F18</default_leaf_color>
		<default_trunk_color>#764908</default_trunk_color>
		<draw_filtered_leaves>1</draw_filtered_leaves>
		<generative_filters>1</generative_filters>
		<watermark_file>/home/programmer/Projects/source_tree_vis/resources/watermarks/watermark_address.png</watermark_file>
	</simple_tree_options>
</xml>
