<xml>
	<simple_tree_options>
		<image_width>800</image_width>
		<image_height>800</image_height>
		<start_width>8000</start_width>
		<start_height>8000</start_height>	
		<output_file_number>10000</output_file_number>
		<background_image>/home/programmer/Projects/source_tree_vis/resources/backgrounds/yosemite.jpg</background_image>
		<many_jpgs>0</many_jpgs>
		<jpg_step>1</jpg_step>
		<jpg_stop>10000</jpg_stop>
		<jpg_start>1</jpg_start>
		<rev_jpgs>1</rev_jpgs>
		<rev_step>1</rev_step>
		<rev_stop>10000</rev_stop>
		<rev_start>1</rev_start>	
		<debug>default</debug>
		<file_name>ourlocaltree.jpg</file_name>
		<repo_type>interactive</repo_type> 
		<repo_string>~/Projects/source_tree_vis/</repo_string>
	</simple_tree_options>
</xml>
