h3
{
	color:blue;
	text-align:center;
}
p
{
	font-family:"Times New Roman";
	font-size:20px;
}

a, a:visited
{
	color: #000;
	text-decoration: none;
	font-weight: 600;
}

a.light, a.light:visited
{
	color: #fff;
	text-decoration: none;
	font-weight: 600;
}

a:hover
{
	color: #C13034;
	text-decoration: underline;
}

a.light:hover
{
	color: #C1575A;
	text-decoration: underline;
}

ul
{
	text-align:left;
}

div
{
	background-color: #fff; 
	text-align:center;
}

img
{
	border: none;
}

div.leftbar
{
	background-color: #333333;
	width: 219px;
	height: 95%;
	float: left;
}

DIV.topmenu
{
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-color: #000;
	background-color: #fff;
}


DIV.topleft
{
    FONT: lighter small Verdana, Arial, 'MS Sans Serif';
    COLOR: #000000;
    TEXT-ALIGN: Center;
    TEXT-DECORATION: none;
	border-right: 2px #000 solid;
	width: 249px;
	float: left;
	background-color:#ffffff;
}

DIV.left-inner
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    MARGIN: 2px;
    FONT: lighter small Verdana, Arial, 'MS Sans Serif';
    TEXT-TRANSFORM: none;
    COLOR: #fff;
    PADDING-TOP: 2px;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none;
    width: 200px;
    border-width: 2px;
	border-style: solid;
	border-color: #252525;  
	background-color: #444444;
}


DIV.content
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    MARGIN: 2px;
    FONT: lighter small Verdana, Arial, 'MS Sans Serif';
    TEXT-TRANSFORM: none;
    COLOR: #000000;
    PADDING-TOP: 12px;
	padding-left: 13px;
    TEXT-DECORATION: none;
    TEXT-ALIGN:left;
    background-color: white; 
    overflow:auto;
	width: 710px;
	height: 100%;
	float: left;
}

DIV.footer  
{
     font-family: Verdana, Geneva, Arial, sans-serif;
     text-align: center;
     width: 100%;
}